<div class="parte-one">
  <button (click)="test()">SUBtest</button>
  <button (click)="test2()">BEHAtest2</button>
  <button (click)="test3()">REPLAYtest3</button>
  <button (click)="test4()">ALLSUBtest4</button>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="inputTask">
    <input id="testDebounce" type="text" formControlName="test">
  </div>
  <div>
    <label for="opc">OPCIONES</label>
    <select name="opc" formControlName="testDebounce" name="">
      <option value="OPC1">OPC1</option>
      <option value="OPC2">OPC2</option>
      <option value="OPC3">OPC3</option>
      <option value="OPC4">OPC4</option>
    </select>
  </div>
  <button [disabled]="!form.valid">Submit</button>
</form>
